MODE=LOCAL

DB_HOST=example
DB_PORT=example
DB_USER=example
DB_PASS=example
DB_NAME=example

JWT_SECRET_KEY=example # openssl rand -hex 32
JWT_ALGORITHM=example
ACCESS_TOKEN_EXPIRE_MINUTES=example
REFRESH_TOKEN_EXPIRE_DAYS=example
